---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Pierre @fntb <span class="text-xl">👋</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Je publie sur mes apprentissages en ml, en essayant de faire le lien entre math et implémentation.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Dernières publications
          </h5>
          <Link href="/blog">
            Toutes les publications
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
        <article class="space-y-4">
          <h5 class="font-semibold text-black dark:text-white">
            Pense-bête
          </h5>

          <p>Quelques sujets que j'aimerais aborder bientôt.</p>

          <ul>
            <li>DDPMs</li>
            <li>Mécanismes d'attention</li>
            <li>Impl : Introduction rapide au framework `torch` + `lighting` + `hydra` - maintenir une codebase decente</li>
            <li>La descente de gradient stochastique, abstraite</li>
            <li>La régularisation implicite dans les réseaux de neuronnes - pourquoi on overfit pas ?</li>
            <!-- <li>Strided arrays - <code>.as_strided()</code> et <code>.einsum()</code> tricks</li> -->
          </ul>
        </article>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Contact
        </h5>
        <article>
          <p>
          Si vous voulez me parler ml, ou juste dire bonjour.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
